<html>
<head>
  <title>Personal Library</title>
  <link rel="icon" type="image/png" href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/style.css">
  <style>
    code {
      background-color: whitesmoke;
    }
  </style>
</head>
<body>
  <header>
    <h1>Personal Library</h1>
  </header>

<div id='container'>
  <form id="newBookForm">
    <input id="bookTitleToAdd" type="text" name="title" placeholder="New Book Title" >
    <button id="newBook" type="submit" value="Submit">Submit New Book!</button>
  </form>

  <div id="displayBookDetailContainer">
    <div id='display'></div>
    <div id='bookDetail'>
      <p id='detailTitle'>Select a book to see it's details and comments</p>
      <ol id='detailComments'></ol>
    </div>
  </div>

  <button id='deleteAllBooks'>Delete all books...</button>
</div>

<footer>
      Designed and Coded by: <a id="footerLink" href="https://www.linkedin.com/in/hunter-lacefield-871995115/">Hunter Lacefield</a>
</footer>
<script src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous"></script>
<script src="/public/client.js"></script>
<script>
  /*
  *  For #sampleposting to update form action url to test inputs book id
  */
  $(function() {
    $('#commentTest').submit(function(){
      let  id = $('#idinputtest').val();
      $(this).attr('action', "/api/books/" + id);
    });
  });
</script>
</body>
</html>
